* {
    margin: 0px;
    padding: 0px;
    font-family: 'poppins, sans-serif';
}

*,
*::after *::before {
    box-sizing: border-box;
}

body {
    background-color: #e9e9e9;
}

a,
a:hover {
    text-decoration: none;

}

li {
    list-style: none;
}

.start-accordion {
    width: 600px;
    margin: 200px auto 0;
}

.start-accordion .accordion-item {
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px #e9e9e9;
}

.start-accordion .accordion-item .accordion-header {
    padding: 15px 20px;
    border-bottom: 1px solid #e9e9e9;
    cursor: pointer;
    position: relative;
}

.start-accordion .accordion-item .accordion-header::after {
    content: '\2192';
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 30px;
    transition: .3s;
}
.start-accordion .accordion-item .accordion-header.active::after {
transform: rotate(90deg);
}

.start-accordion .accordion-item .accordion-body {
    transition: .3s;
    height: 0;
    overflow: hidden;
}
.start-accordion .accordion-item .accordion-content {
   padding: 15px 20px;
}
